<div class="nav d-flex flex-column bg-light">
  <div class="nav_loge pt-5 ps-5">
    <a href="">
      <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/week5/logo-ANSWER.svg" alt="">
    </a>
  </div>
  <div class="navbar pt-5">
    <ul class="ps-0">
      <li class="py-8 ">
        <span class="material-symbols-sharp pe-3 ps-5 align-middle">
          insert_chart
          </span>
        <a href="" class="align-middle">Dashboard</a>
      </li>
      <li class="py-8">
        <span class="material-symbols-sharp pe-3 ps-5 align-middle">
          forum
          </span>
        <a href="" class="align-middle">Question</a>
      </li>
      <li class="py-8">
        <span class="material-symbols-sharp pe-3 ps-5 align-middle">
          assignment
          </span>
        <a href="" class="align-middle">Assignment</a>
      </li>
      <li class="py-8">
        <span class="material-symbols-sharp pe-3 ps-5 align-middle">
          video_library
          </span>
        <a href="" class="align-middle">Course</a>
      </li>
      <li class="py-8">
        <span class="material-symbols-sharp pe-3 ps-5 align-middle">
          group
          </span>
        <a href="" class="align-middle">Admin</a>
      </li>
      <li class="py-8">
        <span class="material-symbols-sharp pe-3 ps-5 align-middle">
          settings
          </span>
        <a href="" class="align-middle">Settings</a>
      </li>
    </ul>
  </div>
  <div class="navbar_end ps-5 pb-5 d-flex mt-auto">
    <div class="navbar_img pe-3">
      <img class="rounded-circle" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week5/andychen.jpeg?raw=true" alt="" >
    </div>
    <div>
      <p class="fs-6 m-0">Andy Chen</p>
      <p class="fs-7">andy0401@mail.com</p>
    </div>
  </div>

</div>
